@import '../../variables.scss';

.button {
    border: none;
    border-radius: 10px;
    color: $color-primary-white;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(0);
    }
}