@import '../../variables.scss';
@import '../../mixins.scss';

.cart-section {
    
    &__content {
        grid-column: 1 / -1;
        grid-row: 1 / 1;
        padding-bottom: 5rem;
        min-height: 80vh;
        padding-top: 3rem;
    }

    &__no-items {
        @include center-content;
        font-size: 2rem;
    }
}